/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* layout */
.container{
    max-width: 1020px;
    margin: 10px auto;
    font-family: sans-serif;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.grid{
    width: 330px;
    padding: 5px;
    margin: 5px;
}

/* finestra prodotti */
.product{
    width: 100%;
}
.product img{
    width: 100%;
    padding: 5px 0;
}
.p-brand{
    font-size: 11px;
}
.p-name{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}
.p-price{
    font-size: 11px;
    color: #ff0102;
    font-weight: ;
}
.real-price{
    color: black;
    text-decoration: line-through;
    font-weight: 400;
}