/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* layout */
.container{
    max-width: 1030px;
    margin: 10px auto;
    font-family: sans-serif;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.grid{
    width: 330px;
    padding: 5px;
    margin: 5px;
}

/* finestra prodotti */
.product{
    position: relative;
}
.product img{
    width: 100%;
    padding: 5px 0;
}
.photo{
    position: absolute;
    top: 0%;
    display: none;
}
.product:hover .photo{
    display: block;
    cursor: pointer;
}
.p-brand{
    font-size: 11px;
}
.p-name{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}
.p-price{
    font-size: 12px;
    color: #ff0102;
    font-weight: 800;
}
.real-price{
    color: black;
    text-decoration: line-through;
    font-weight: 400;
}

/* tags */
.like{
    font-size: 20px;
    position: absolute;
    top: 5%;
    left: 90%;
    background-color: white;
    padding: 5px 11px;
}
.like:hover{
    color: red;
    cursor: pointer;
}
.tags{
    display: flex;
    position: absolute;
    top: 82%;
    font-size: 12px;
    font-weight: 700;
    color: white;
}
.tags div{
    margin-right:5px ;
    padding: 4px;
}
.discount{
    background-color: #eb0037;
}
.eco{
    background-color: #00875a;
}